In [1]:
import json
import pandas as pd

In [6]:
targs = pd.read_csv('targ_df.csv', index_col = 0)
targs

,Source,RA[d],DEC[d],ASSCNS1,ASSCNS2,GLON,GLAT,Name,AAVSO_dir_name
0,4FGL J1750.9-3301,267.7298,-33.0201,NaN,NaN,357.085100,-3.078808,V1324 Sco,V1324_SCO
1,4FGL J1811.0-2725,272.7643,-27.4220,NaN,NaN,4.112126,-4.101693,V5855 Sgr,V5855_SGR
2,4FGL J1723.6-4126,260.9038,-41.4471,NaN,NaN,347.051670,-3.003951,V1716 Sco,V1716_SCO
3,4FGL J1727.0-3835,261.7512,-38.5843,SNRG350.0-02.0,NaN,349.789730,-1.939212,V1723 Sco,V1723_SCO

In [5]:
targs = pd.read_csv('targ_df.csv', index_col = 0)
data_dict = {}
for i in range(len(targs)):
# Open and read the JSON file
    with open('output_'+targs['AAVSO_dir_name'][i]+'.json', 'r') as file:
        data = json.load(file)
    
    sub_dict = {targs['AAVSO_dir_name'][i]: data}
    data_dict.update(sub_dict)
    # Print the data
    print(data)

{'band': 'V', 'maximum_jd': 2456098.46888, 'maximum_mag': 9.868, 't2_mag': 11.977, 't2_jd': 2456122.7636}
{'band': 'V', 'maximum_jd': 2457691.56544, 'maximum_mag': 7.748, 't2_mag': 10.44, 't2_jd': 2457707.88464}
{'band': 'V', 'maximum_jd': 2460056.625, 'maximum_mag': 6.777, 't2_mag': 8.777, 't2_jd': 2460060.886551}
{'band': 'V', 'maximum_jd': 2460351.29054, 'maximum_mag': 6.773, 't2_mag': 8.746, 't2_jd': 2460357.87405}